run = "python3 -m http.server 8080 --bind 0.0.0.0"
entrypoint = "index.html"
hidden = [".config"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 -m http.server 8080 --bind 0.0.0.0"]
deploymentTarget = "static"
publicDir = "."

[[ports]]
localPort = 8080
externalPort = 80

[languages.html]
pattern = "**/*.html"

[languages.html.languageServer]
start = "vscode-html-language-server --stdio"
